h1 {
    text-align: center;
}

.center {
    margin: 1px;
    width: 60%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#all-containers {
    align-items: flex-start;
}

#network-container {
    display: inline-flex;  
    width: 75vw;
    height: 50vh;
}

.circle {
    border-radius: 50%;
    width: calc(7vw + 7vh);
    height: calc(7vw + 7vh);
    border: 3px solid;
    position: relative;
    display: flex;
}

#input-links{
    position: relative;
}

#input-link-text{
    position: absolute;
    width: 80%;
    height: 100%;
}

/*#weight-1{*/
/*    position: absolute;*/
/*    top: 22%;*/
/*    font-size: 2vw;*/
/*}*/

/*#weight-2{*/
/*    position: absolute;*/
/*    top: 70%;*/
/*    font-size: 2vw;*/
/*}*/

#svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}   

#output-links{
    position: relative;
}

#threshold-text{
    position: absolute;
    font-size: 3vw;
}

#th1{
    position: relative;
    padding: 0px 2px;
    border: solid;
    border-color: gray;
    background-color: #f2f2f2;
}

#w1{
    padding:0.5vw;
    border: solid;
    border-color: gray;
    background-color: #f2f2f2;
}

#w2{
    padding:0.5vw;
    border: solid;
    border-color: gray;
    background-color: #f2f2f2;
}

#line{
    stroke-width:2px;
    stroke:rgb(0,0,0);
}

#all-containers {
    display: inline-flex;
    width: 100%;
}

#input-container {
    display: inline-flex;
}

#output-container {
    display: inline-flex;
}

.table {
    border-collapse: collapse;
    text-align: center;
    border-spacing: 1px;
}

.table th {
    background-color: darkblue;
    color: white;
}

.table td, .table th {
    line-height: 10vh;
    width: 10vw;
}

.table tr {
    border: 0.05vw solid #ddd;
}

.table td {
    border: 0.05vw solid #ddd;
}

.table tr:nth-child(even){
    background-color: #f2f2f2;
}

.table td:nth-child(odd){
    text-align: center;
}

/* style column containing buttons */
#input-table td:first-child{
    padding: 0 0 0 0;
    width: 2vw;
    background-color: white;
    min-width: 2vw;
    justify-content: center;
    align-items: center;
}

.selected{
    color: red;
    font-size: 3vw;
    border-collapse: collapse;
    width: 20%;
    height: 100%;
    text-align: center;
}

.input-content {
    display: inline;
}

.button {
    width: 80%;
    aspect-ratio: 1;
    font-size: calc(0.6vh + 0.6vw);
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;
}

/* edit buttons container to hold and position + and - buttons */
.row-buttons-container{
    height: 8vh;
    width: 2vw;
    display: flex;
    flex-direction: column;
    transform: translate(0, 2.5vh);
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#first-row-button{
    position: absolute;
    bottom: 0;
}

.weights {
    padding:0.5vw;
    border: solid;
    border-color: gray;
    background-color: #f2f2f2;
}

.weight_label {
    position: absolute;
}