/*html, body {*/
/*    max-width: 100%;*/
/*    overflow-x: hidden;*/
/*}*/

h1 {
    text-align: center;
}

.heading-table {
    width: 30%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.top-table {
    width: 20%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.top-table th {
    padding: 15px;
}

.bottom-table {
    width: 100%;
    padding: 0;
    margin: 0;
}

.left {
    margin: 1px;
    width: 40%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
}

.center {
    margin: 1px;
    width: 40%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.center-input {

    width: 40%;
    height: 100%;
    display: inline-flex;
    margin-right: 0%;
}

.center-output {

    width: 20%;
    height: 100%;
    display: inline-flex;
    margin-left: 0%;
}

.right {
    margin: 1px;
    width: 20%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
}


#all-containers {
    align-items: flex-start;
}

#network-container {
    display: inline-flex;  
    width: 75vw;
    height: 50vh;
}

.circle {
    border-radius: 50%;
    width: calc(7vw + 7vh);
    height: calc(7vw + 7vh);
    border: 3px solid;
    position: relative;
    display: flex;
}

#input-links{
    position: relative;
}

#input-link-text{
    position: absolute;
    width: 80%;
    height: 100%;
}

/*#weight-1{*/
/*    position: absolute;*/
/*    top: 22%;*/
/*    font-size: 2vw;*/
/*}*/

/*#weight-2{*/
/*    position: absolute;*/
/*    top: 70%;*/
/*    font-size: 2vw;*/
/*}*/

#svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}   

#output-links{
    position: relative;
}

#threshold-text{
    position: absolute;
    font-size: 3vw;
}

#th1{
    position: relative;
    padding: 0px 2px;
    border: solid;
    border-color: gray;
    background-color: #f2f2f2;
}

#w1{
    padding:0.5vw;
    border: solid;
    border-color: gray;
    background-color: #f2f2f2;
}

#w2{
    padding:0.5vw;
    border: solid;
    border-color: gray;
    background-color: #f2f2f2;
}

#line{
    stroke-width:2px;
    stroke:rgb(0,0,0);
}

#all-containers {
    display: inline-flex;
    width: 100%;
}

#input-container {
    display: inline-flex;
    flex-direction: column;
}

#output-container {
    display: inline-flex;
    flex-direction: column;
}

.custom-btn {
    margin: 20px;
    width: 200px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}




.myButton {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border: none;
}
.myButton:hover {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

.custom-btn[disabled=disabled], .custom-btn:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #FFFFFF;
    background: #919090;
}

.table {
    border-collapse: collapse;
    text-align: center;
    border-spacing: 1px;
    /*table-layout: fixed;*/
    /*width: 40%;*/
}

.table th {
    background-color: darkblue;
    color: white;
}

.table td {
    line-height: 10vh;
    width: 7vw;
    overflow-wrap: break-word;
    font-size: 25px;
}

.table th {
    line-height: 10vh;
    width: 7vw;
    overflow-wrap: break-word;
    font-size: 20px;
}

.custom-th {
    width: 7vw;
    line-height: 5vh !important;
    overflow-wrap: break-word;
}
.output-th {
    width: 2vw !important;
}

.table tr {
    border: 0.05vw solid #ddd;
}

.table td {
    border: 0.05vw solid #ddd;
}

.table tr:nth-child(even){
    background-color: #f2f2f2;
}

.table td:nth-child(odd){
    text-align: center;
}

/* style column containing buttons */
#input-table td:first-child{
    padding: 0 0 0 0;
    width: 2vw;
    height: 2vh;
    background-color: white;
    min-width: 2vw;
    max-width: 4vw;
    min-height: 2vh;
    justify-content: center;
    align-items: center;
}

.selected{
    color: red;
    font-size: 3vw;
    border-collapse: collapse;
    width: 20%;
    height: 100%;
    text-align: center;
}

.input-content {
    display: inline;
}

.draggable{
    
}
.button {
    width: 80%;
    aspect-ratio: 1;
    font-size: calc(0.6vh + 0.6vw);
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;
}

.row-button {
    width: 20%;
}

.invisible-button {
    width: 0%;
    visibility: hidden;
}
    /* edit buttons container to hold and position + and - buttons */
.row-buttons-container{
    height: 8vh;
    width: 2vw;
    display: flex;
    flex-direction: column;
    transform: translate(0, 2.5vh);
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.column-buttons-container{
    height: 4vh;
    width: 7vw;
    display: flex;
    flex-direction: row;
    transform: translate(.7vw, 0);
    justify-content: space-between;
    align-items: center;
    position: relative;
    /*background-color: lightblue;*/
}

#first-column-button-container {
    width: 4vw;
}


#first-row-button{
    width: 80%;
    position: absolute;
    bottom: 0;
}

#first-col-button{
    position: absolute;
    width: 40%;
    right: 0;
}

.weights {
    padding:0.5vw;
    border: solid;
    border-color: gray;
    font-size: 2vw;
    background-color: #f2f2f2;
}

.weight_label {
    font-size: 2vw;
    position: absolute;
}

.animation{
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0.2;
        border: 0.2vw solid red;
    }

    to {
        opacity: 1;
        border: 0.05vw solid #ddd;
    }
}

.red-border {
    border: 2px solid red;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background: #1877F2;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1877F2 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*input[type="file"] {*/
/*    display: none;*/
/*}*/